<div class="container">
  <h1>GitHub: The experience!</h1>

  <form id='select-user' action='/user' method='post'> 
    <input name='user' required></input>
    <input type='submit' value='Find user!'>
  </form>
</div>
  